@tailwind base;
@tailwind components;
@tailwind utilities;

.signup-container,
.signin-container,
.friends-list,
.message-form {
  height: calc(100vh - theme(height.20));
}

.chat-form-container {
  min-height: calc(100vh - theme(height.20));
}

.message-form > .middle {
  height: calc(100% - (theme(height.14) + theme(height.16)));
}
.middle {
  margin-top: 5px;
}
